[user]
	email = devju94@gmail.com
	name = devju94

[core]
	autocrlf = input
	eol = lf

[alias]
	co = checkout
    br = branch
    cm = commit
    ps = push
    pl = pull
    glog = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
